# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Prisma
prisma/migrations/

# Misc
.DS_Store
*.log
.vercel
supabase/.temp/
.env*
!.env.example
.turbo/
